<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <%- body %>  <!--This is to include any changes in the other file and to include it-->
    <h1>bye</h1>
</body>
</html>

<!--This page is to set the header and foooter of the page and just make neccesary changes and development becomes a lot easier-->